<script src="jquery.viewportchecker.min.js"></script>
<div class="headerhome" style="max-width:960px; width:90%; margin:0 auto;background-color:red;min-width:700px;position:absolute; z-index:50;left:50%; margin-left:-480px"  >
	<h1 style="float:left; margin-right:80px;color:white;font-family:'San Francisco'; 	font-weight:200;font-size:25px;letter-spacing:8px;margin-top:-80px;margin-left:0px;">FABRIK</h1>
	<h1 style="float:left; margin-right:80px;color:#B0B2B2;font-family:'San Francisco'; 	font-weight:300;font-size:14px;letter-spacing:0.5px;margin-top:-74px;margin-left:150px;">Features</h1>
	<h1 style="float:left; margin-right:80px;color:#B0B2B2;font-family:'San Francisco'; 	font-weight:300;font-size:14px;letter-spacing:0.5px;margin-top:-74px;margin-left:230px;">Pricing</h1>
	<h1 style="float:left; margin-right:80px;color:#B0B2B2;font-family:'San Francisco'; 	font-weight:300;font-size:14px;letter-spacing:0.5px;margin-top:-74px;margin-left:300px;">More</h1>
	<hr style="width:100%;position:absolute; top:-40px;color:grey;opacity:0.3;" size="1px">


<h1 style="float:right; margin-right:80px;color:#B0B2B2;font-family:'San Francisco'; font-weight:200;font-size:14px;letter-spacing:0.5px;margin-top:-69px;margin-right:86px;">Log in</h1>
<h1 style="float:right; margin-right:80px;color:white;font-family:'San Francisco'; font-weight:200;font-size:14px;letter-spacing:0.5px;margin-top:-74px;margin-right:0px;border:1px solid white; border-radius:6px;padding: 5px 10px;">Sign up</h1>

</div>

<div class="Firstsight" style="width:100%; height:100%; background-color:black; margin-top:0px;position:absolute;top:0px;"></div>
	<div class="firstsightcontent" style="height:100%; margin-top:0px;max-width:960px; width:90%; margin: 0 auto; 	min-width:700px;position:relative;"> 
		<div style="margin-top:80px;position:absolute; left:0px; top:150px;">
			<h1 id="headhead" style=" margin-left:0px;color:white;font-family:'San Francisco'; 			font-weight:200;font-size:30px;letter-spacing:2px;margin-top:0px;">3D printing 20 times cheapper.</h2>
			<h1 style=" margin-left:0px;color:#B0B2B2;font-family:'San Francisco'; 			font-weight:200;font-size:30px;letter-spacing:2px;margin-top:10px;">Now in 4K resolution.</h1>
			
			<button class="btnbas btn-2 btn-2c" style="letter-spacing:1px;text-transform:none;padding:10px 15px 8px;font-weight:300;box-shadow: 0 6px #565AE0;font-size:16px;margin-left:0px; margin-top:30px;font-weight:200;">Try now</button>
			<button class="btnbas btn-2 btn-2c" style="letter-spacing:1px;text-transform:none;padding:10px 15px 12px;font-weight:300;box-shadow: none; background-color:black; border:1px solid white;font-size:16px;margin-left:-10px;font-weight:100; margin-top:30px;">Learn more</button>
			
		</div>	
		<div style="width:450px;margin:80 auto;float:right;display:inline;margin-top:40px;"><%= image_tag("progression.svg", :alt => "images") %></div>
	</div>





<script>
$(document).ready(function(){
	$("#headhead").velocity("fadein", {
	    duration: 350
	});
});
	
	
	
</script>



<div class="Comparatif" style="width:100%; height:100%; background-color:red;margin-top:300px;">



</div>


<div class="4K" style="width:100%; height:800; background-color:blue;">

	<div style="width:450px;margin:80 auto;" class="demo"><%= image_tag("logofile.svg", :alt => "images") %></div>
<h1 style=" margin-left:0px;color:#B0B2B2;font-family:'San Francisco'; 			font-weight:200;font-size:30px;letter-spacing:2px;margin-top:10px;">Now in 4K resolution.</h1>
</div>	


<div class="Resolution" style="width:100%; height:100%; background-color:green;">


</div>	


<div class="Materiau" style="width:100%; height:100%; background-color:yellow;">


</div>	


<div class="Call to action" style="width:100%; height:100%; background-color:red;">


</div>	


<script>
$(document).ready(function(){
	
	var $demo = $(".demo");
	
$('.demo').viewportChecker({
// Class to add to the elements when they are visible
	$demo.addClass('js-animate');

// The offset of the elements (let them appear earlier or later)
offset: 100,

// Add the possibility to remove the class if the elements are not visible
repeat: false,

 // Callback to do after a class was added to an element. Action will return "add" or "remove", depending if the class was added or removed
callbackFunction: function(elem, action){}
});
});
</script>